.title-slide {
  background-image: url(https://media.giphy.com/media/12fquw82okMUEM/giphy.gif);
  opacity: 0.85;
  background-size: cover;
  background-position: right; 
}

.title-slide h1 {
  color: #000000;
}

.title-slide h2 {
  color: #000000;
}

.title-slide h3 {
  color: #000000;
}